body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.link {
  width: 100px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: inline-block;
  padding: 10px 16px;
  background-color: blue;
  margin-top: 10px;
  border-radius: 10px;
}

.conteiner {
  margin-left: 250px;
  margin-top: 50px;
  text-align: center;
}

.wrapper {
  display: flex;
}

input {
  padding: 7px 65px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border-right: none;
  text-align: center;
}
button[data-start] {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  padding: 7px 20px;
  font-size: 16px;
  color: white;
  background-color: blue;
  border: 2px solid blue;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

button:disabled {
  opacity: 0.5;
  background-color: grey;
  border: 2px solid grey;
}

.timer {
  display: flex;
  margin-top: 10px;
}
.field:not(:first-child) {
  margin-left: 25px;
}

.value {
  font-size: 32px;
}

.label {
  margin-left: 5px;
}
